head
	- var servis = "ЮрАвтоЭксперт";
	meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
	meta(content="width=device-width, initial-scale=1" name="viewport")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
	meta(name="cmsmagazine" content="d8e7426ec72ad3e4ea38b09ebf01284c")
	title #{title} - #{servis}
	
	base(href="/")
	include ../tpl/favicon.tpl
	
	// end favicons
	// meta SEO
	meta(name="title" content="ЮрАвтоЭксперт \n Заголовок")
	meta(name="description" content="ЮрАвтоЭксперт \n Описание")
	meta(name="keywords" content="ЮрАвтоЭксперт")
	meta(name="image" content="http://auto.studionions.ru/assets/templates/autoexpert/images/hero_bg.jpg")
	meta(name="robots" content="index, follow")
	meta(property="og:title" content="")
	meta(property="og:description" content="")
	meta(property="og:url" content="")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:type" content="website")
	meta(property="og:site_name" content="")
	meta(property="og:image" content="http://auto.studionions.ru/assets/templates/autoexpert/images/hero_bg.jpg")
	// [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript")></script><![endif]
	// style 
	<?=getFileContent('/assets/templates/autoexpert/css/main.css', 'css');?>
	