
<!-- header-->
<header class="header">
	<div class="header-wrapper">
		<div class="header-container">
			<div class="header-container-line">
				<div class="line-up">
					<div class="brand">
						<div class="brand-left"><img src="assets/templates/autoexpert/images/icon.svg" alt=""/></div>
						<div class="brand-right">
							<div class="brand-right-icon"><img src="assets/templates/autoexpert/images/logo.svg" alt=""/></div>
						</div><a href="/"></a>
					</div>
					<div class="contact">
						<div class="contact-address">г. Екатеринбург, ул. Сибирский тракт, д. 8 корп. Б офис 126</div>
						<div class="contact-phone"><a href="+73433057035">+7 (343) 305 70 35</a><a href="+79530007530">+7 (953) 000 75 30 </a></div>
						<div class="contact-button"><a href="javascript:;" class="button button-green">Заказать звонок</a></div>
						<div class="contact-client"><a href="javascript:;"><img src="assets/templates/autoexpert/images/client.svg" alt=""/></a></div>
					</div>
					<div class="phone"><a href="javascript:;"><img src="assets/templates/autoexpert/images/phone.svg" alt=""/></a></div>
					<div class="client"><a href="javascript:;"><img src="assets/templates/autoexpert/images/client.svg" alt=""/></a></div>
				</div>
			</div>
			<div class="header-container-nav">
				<div class="logo-nav">Независимая экспертиза и юридические услуги</div>
				<nav role="navigation" class="nav">
					<ul>
						<li><a href="/">Главная</a></li>
						<li><a href="uslugi.html">Услуги и цены</a></li>
						<li><a href="about.html">О компании</a></li>
						<li><a href="reviews.html">Отзывы</a></li>
						<li><a href="blog.html">Блог</a></li>
						<li><a href="contacts.html">Контакты</a></li>
					</ul>
				</nav>
				<div class="nav-button">
					<div data-target-menu="nav.nav" class="nav-button-box">
						<div class="nav-button-box-line"></div>
						<div class="nav-button-box-line"></div>
						<div class="nav-button-box-line"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- end header-->