
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>
	<meta name="cmsmagazine" content="d8e7426ec72ad3e4ea38b09ebf01284c"/>
	<title> - ЮрАвтоЭксперт</title>
	<base href="/"/>		<!-- favicon-->
<meta name="apple-mobile-web-app-title" content="ЮрАвтоЭксперт">
<meta name="application-name" content="ЮрАвтоЭксперт">
<meta name="apple-mobile-web-app-title" content="ЮрАвтоЭксперт">
<meta name="application-name" content="ЮрАвтоЭксперт">
<meta name="apple-mobile-web-app-title" content="ЮрАвтоЭксперт">
<meta name="application-name" content="ЮрАвтоЭксперт">
<meta name="apple-mobile-web-app-title" content="ЮрАвтоЭксперт">
<meta name="application-name" content="ЮрАвтоЭксперт">
<meta name="apple-mobile-web-app-title" content="ЮрАвтоЭксперт">
<meta name="application-name" content="ЮрАвтоЭксперт">
<meta name="apple-mobile-web-app-title" content="ЮрАвтоЭксперт">
<meta name="application-name" content="ЮрАвтоЭксперт">
<meta name="apple-mobile-web-app-title" content="ЮрАвтоЭксперт">
<meta name="application-name" content="ЮрАвтоЭксперт">
<meta name="apple-mobile-web-app-title" content="ЮрАвтоЭксперт">
<meta name="application-name" content="ЮрАвтоЭксперт">
<meta name="apple-mobile-web-app-title" content="ЮрАвтоЭксперт">
<meta name="application-name" content="ЮрАвтоЭксперт">
<meta name="apple-mobile-web-app-title" content="ЮрАвтоЭксперт">
<meta name="application-name" content="ЮрАвтоЭксперт">
<meta name="apple-mobile-web-app-title" content="ЮрАвтоЭксперт">
<meta name="application-name" content="ЮрАвтоЭксперт">
<meta name="apple-mobile-web-app-title" content="ЮрАвтоЭксперт">
<meta name="application-name" content="ЮрАвтоЭксперт">
<meta name="apple-mobile-web-app-title" content="ЮрАвтоЭксперт">
<meta name="application-name" content="ЮрАвтоЭксперт">
<meta name="apple-mobile-web-app-title" content="ЮрАвтоЭксперт">
<meta name="application-name" content="ЮрАвтоЭксперт">
<meta name="apple-mobile-web-app-title" content="ЮрАвтоЭксперт">
<meta name="application-name" content="ЮрАвтоЭксперт">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png">
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="apple-mobile-web-app-title" content="ЮрАвтоЭксперт">
<meta name="application-name" content="ЮрАвтоЭксперт">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
	<!-- end favicons-->
	<!-- meta SEO-->
	<meta name="title" content="ЮрАвтоЭксперт 
 Заголовок"/>
	<meta name="description" content="ЮрАвтоЭксперт 
 Описание"/>
	<meta name="keywords" content="ЮрАвтоЭксперт"/>
	<meta name="image" content="http://auto.studionions.ru/assets/templates/autoexpert/images/hero_bg.jpg"/>
	<meta name="robots" content="index, follow"/>
	<meta property="og:title" content=""/>
	<meta property="og:description" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:locale" content="ru_RU"/>
	<meta property="og:type" content="website"/>
	<meta property="og:site_name" content=""/>
	<meta property="og:image" content="http://auto.studionions.ru/assets/templates/autoexpert/images/hero_bg.jpg"/>
	<!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript")></script><![endif]-->
	<!-- style --><?=getFileContent('/assets/templates/autoexpert/css/main.css', 'css');?>
</head>