
<!-- homeslider-->
<section class="section homeslider">
	<div data-wow-duration="1s" style="visibility: hidden;" class="wrapper-page no-animation wow fadeInUp">
		<div class="section-name">
			<h2 class="section-name-title">Кто выиграет ваше дело?</h2>
		</div>
		<div class="section-row">
			<div class="slider">
				<div class="slider-slick slick">
					<div class="slider-slick-item">
						<div class="slider-slick-item-wrapper">
							<div class="slider-slick-item-description">
								<div class="heading-slide-block">
									<h3>Александр Устюгов</h3>
									<div class="heading-slide-block-description">
										<p>Ведущий юрист-консультант</p>
									</div>
								</div>
								<ul class="heading-slide-list">
									<li>Провожу первоначальные консультации;</li>
									<li>Продумываю стратегию ведения дела по достижению к цели;</li>
									<li>Согласовываю объем и стоимость услуг за круглым столом с коллегами и руководством.</li>
								</ul>
								<blockquote class="heading-slide-blockquote">Любая не учтённая мелочь может поставить под угрозу даже самое простое депо. Пословица "Семь раз отмерь один раз отрежь" - моё золотое правило</blockquote>
							</div>
							<div style="background-image: url('/assets/templates/autoexpert/images/dikaprio.jpg');" class="slider-slick-item-photo"></div>
						</div>
					</div>
					<div class="slider-slick-item">
						<div class="slider-slick-item-wrapper">
							<div class="slider-slick-item-description">
								<div class="heading-slide-block">
									<h3>Александр Устюгов</h3>
									<div class="heading-slide-block-description">
										<p>Ведущий юрист-консультант</p>
									</div>
								</div>
								<ul class="heading-slide-list">
									<li>Провожу первоначальные консультации;</li>
									<li>Продумываю стратегию ведения дела по достижению к цели;</li>
									<li>Согласовываю объем и стоимость услуг за круглым столом с коллегами и руководством.</li>
								</ul>
								<blockquote class="heading-slide-blockquote">Любая не учтённая мелочь может поставить под угрозу даже самое простое депо. Пословица "Семь раз отмерь один раз отрежь" - моё золотое правило</blockquote>
							</div>
							<div style="background-image: url('/assets/templates/autoexpert/images/dikaprio.jpg');" class="slider-slick-item-photo"></div>
						</div>
					</div>
					<div class="slider-slick-item">
						<div class="slider-slick-item-wrapper">
							<div class="slider-slick-item-description">
								<div class="heading-slide-block">
									<h3>Александр Устюгов</h3>
									<div class="heading-slide-block-description">
										<p>Ведущий юрист-консультант</p>
									</div>
								</div>
								<ul class="heading-slide-list">
									<li>Провожу первоначальные консультации;</li>
									<li>Продумываю стратегию ведения дела по достижению к цели;</li>
									<li>Согласовываю объем и стоимость услуг за круглым столом с коллегами и руководством.</li>
								</ul>
								<blockquote class="heading-slide-blockquote">Любая не учтённая мелочь может поставить под угрозу даже самое простое депо. Пословица "Семь раз отмерь один раз отрежь" - моё золотое правило</blockquote>
							</div>
							<div style="background-image: url('/assets/templates/autoexpert/images/dikaprio.jpg');" class="slider-slick-item-photo"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider-slick-dotted"></div>
			<div class="slider-slick-arrows"></div>
		</div>
	</div>
</section>
<!-- end homeslider-->