
<!-- ushcherb 03-->
<section class="section homeslider ushpage">
	<div data-wow-duration="1s" style="visibility: hidden;" class="wrapper-page no-animation wow fadeInUp">
		<div class="section-name">
			<h2 class="section-name-title">Примеры выигранных дел</h2>
			<div class="section-name-line"></div>
		</div>
		<div class="section-row">
			<div class="slider">
				<div class="slider-slick slick">
					<div class="slider-slick-item">
						<div class="slider-slick-item-wrapper">
							<div class="slider-slick-item-description">
								<div class="heading-slide-block">
									<h3>Дело номер №1</h3>
									<div class="heading-slide-block-description green">
										<p>Против компании ИНТАЧ СТРАХОВАНИЕ</p>
									</div>
								</div>
								<div class="heading-slide-text">
									<p>Имшенецкого. Адвокат Карабчевский Н. П. В феврале 1884 года, женившись ради получения материальных выгод на Серебряковой Марии Ивановне, Имшенецкий вскоре после брака склонил ее на выдачу полной доверенности на управление домом, а через месяц после свадьбы</p>
								</div>
							</div>
							<div style="background-image: url('/assets/templates/autoexpert/images/arbitr.jpg');" class="slider-slick-item-photo"></div>
						</div>
					</div>
					<div class="slider-slick-item">
						<div class="slider-slick-item-wrapper">
							<div class="slider-slick-item-description">
								<div class="heading-slide-block">
									<h3>Дело номер №2</h3>
									<div class="heading-slide-block-description green">
										<p>Против компании ИНТАЧ СТРАХОВАНИЕ</p>
									</div>
								</div>
								<div class="heading-slide-text">
									<p>Имшенецкого. Адвокат Карабчевский Н. П. В феврале 1884 года, женившись ради получения материальных выгод на Серебряковой Марии Ивановне, Имшенецкий вскоре после брака склонил ее на выдачу полной доверенности на управление домом, а через месяц после свадьбы</p>
								</div>
							</div>
							<div style="background-image: url('/assets/templates/autoexpert/images/arbitr.jpg');" class="slider-slick-item-photo"></div>
						</div>
					</div>
					<div class="slider-slick-item">
						<div class="slider-slick-item-wrapper">
							<div class="slider-slick-item-description">
								<div class="heading-slide-block">
									<h3>Дело номер №3</h3>
									<div class="heading-slide-block-description green">
										<p>Против компании ИНТАЧ СТРАХОВАНИЕ</p>
									</div>
								</div>
								<div class="heading-slide-text">
									<p>Имшенецкого. Адвокат Карабчевский Н. П. В феврале 1884 года, женившись ради получения материальных выгод на Серебряковой Марии Ивановне, Имшенецкий вскоре после брака склонил ее на выдачу полной доверенности на управление домом, а через месяц после свадьбы</p>
								</div>
							</div>
							<div style="background-image: url('/assets/templates/autoexpert/images/arbitr.jpg');" class="slider-slick-item-photo"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider-slick-dotted"></div>
			<div class="slider-slick-arrows"></div>
		</div>
	</div>
</section>
<!-- end ushcherb 03-->